<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='files.css') }}">
</head>
<body>
        <h2>All Files</h2>
        {% for file in files %}
            <p>
                {{file.filename}} {{ file.mimetype}} - 
                <a href="view/{{file.fileid}}">View</a>
                <a href="download/{{file.fileid}}">Download</a>
                <a href="delete/{{file.fileid}}">Delete</a>
            </p>
        {% else %}
            <p> No files Uploaded</p>
        {% endfor %}

    
        <a href="/">Go Back</a>
</body>
</html>